body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(161, 167, 167);
}

.btn-modern{
    background-color: aqua;
    padding: 10px;
    border: 2px solid rgb(85, 180, 240);
    border-radius: 7px;
    color: white
}

.btn-modern:hover{
    transform: translateY(-5%);
    background-color: white;
    color: aqua;
    box-shadow: 0px 0px 30px white;
    cursor: pointer;
    transition: 0.4s;
}